name: order-service
channels:
  - conda-forge
dependencies:
  - python=3.11
  - fastapi
  - uvicorn
  - sqlalchemy
  - psycopg2-binary
  - python-dotenv
  - pydantic
  - pydantic-settings
  - typing_extensions

